@import "variables";

[data-theme=default] {
  a {
    font-family: Verdana, sans-serif;
    color: black;
  
    &:hover {
      background-color: yellow;
      text-decoration: none;
    }
  }

  .page {
    font-family: Garamond, Georgia, Times New Roman, serif;
  }

  .header {
    background-color: white;
    border: 0.5rem solid black;
  }

  .site-title, .page-link {
    color: black;
    font-family: Verdana, sans-serif;
    padding: 1rem 0.5rem;

    &:hover {
      background-color: yellow;
    }
  }

  h2 {
    font-family: Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem 0;
    text-transform: uppercase;
  }

  .link-grid {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;

    .grid-title {
      background-color: lightgray;
      font-family: Verdana, sans-serif;
      font-size: 1.5rem;
      padding: 0.5rem;

      &:nth-child(even) {
        text-align: right;
      }
    }

    .grid-cell {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 2rem;
      padding: 0.5rem;
      text-align: right;
    }

    a.grid-cell {
      color: black;
      font-family: Verdana, sans-serif;
      font-size: 1rem;
      justify-content: flex-start;

      &:hover {
        background-color: yellow;
        text-decoration: none;
      }
    }
  }

  .main {
    background:
      linear-gradient(
        to right,
        transparent $red-line-padding,
        $paper-red-line $red-line-padding calc($red-line-padding + 1px),
        transparent $red-line-padding
      ),
      linear-gradient(
        to bottom,
        white 0 2rem,
        transparent 2rem
      ),
      repeating-linear-gradient(
        to bottom,
        white 0 $paper-line-height,
        $paper-blue-line $paper-line-height calc($paper-line-height + 1px),
        white calc($paper-line-height + 1px)
      );
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);
    margin-top: 2rem;
    padding: $paper-top-padding 1rem $paper-line-height calc($red-line-padding + 0.5rem);
  }

  p {
    line-height: 1.5rem;
  }
}