<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/styles/main.css" | relative_url }}">

  {%- if page.title -%}
    <title>{{ page.title }} – claire freehafer</title>
  {%- else -%}
    <title>claire freehafer</title>
  {%- endif -%}

  {%- if layout.css -%}
    <link rel="stylesheet" href="/assets/styles/{{ layout.css }}.css">
  {%- endif -%}

  {%- if layout.script -%}
    <script type="module" src="/assets/scripts/{{ layout.script }}.js"></script>
  {%- endif -%}

  {%- if page.path contains "animal_crossing" -%}
    {%- include animal_crossing/head.html -%}
  {%- elsif page.path contains "zelda" -%}
    <link rel="stylesheet" href="{{ "/assets/styles/zelda.css" | relative_url }}">
  {%- elsif page.path contains "photography" -%}
    {%- include photography/head.html -%}
  {%- else -%}
    <link rel="stylesheet" href="{{ "/assets/styles/default.css" | relative_url }}">
  {%- endif -%}
</head>
