@font-face {
  font-family: "Hylia Serif";
  src: url("/assets/fonts/hylia_serif_regular.woff2") format("woff2"),
       url("/assets/fonts/hylia_serif_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}