@import "mixins";

body {
  background-color: black;
  background: url("/assets/images/zelda/pad-background.jpg") repeat;
  color: #76b6ff;
  min-height: 100vh;
  box-sizing: border-box;
  background-size: 100%, 100%;
  font-family: "Helvetica", "Arial", sans-serif;
}

.site-header {
  padding: 3%;
}

.site-title {
  font-family: "Hylia Serif", Georgia, serif;
  font-weight: 100;
  font-size: 2rem;
  text-transform: capitalize;
}

.page-link {
  @include sheikah_underline;
}

.menu-icon {
  filter: invert(100%);
}

@media (max-width: 600px) {
  input:checked ~ .nav-links {
    @include text-background;
    padding: 0.5rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
    top: 60px;
  }

  .page-link {
    padding: 0.5rem;
  }
}

a, a:visited {
  color: white;
}

.border-top {
  @include white-to-blue;
  @include border;
  top: 0;
  transform: rotate(180deg);
}

.border-bottom {
  @include white-to-blue;
  @include border;
  bottom: 0;
}

.page-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.splitter {
  @include white-to-blue;
  width: 100%;
}

h2 {
  font-family: "Hylia Serif", Georgia, serif;
  text-transform: capitalize;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.list-item {
  display: flex;
  padding: 0.25rem;
}

.page-icon {
  max-width: 1rem;
  margin-right: 0.5rem;
}