@import "mixins";

body {
  background-color: black;
  background: url("/assets/images/zelda/pad-background.jpg") repeat;
  color: #76b6ff;
  min-height: 100vh;
  box-sizing: border-box;
  background-size: 100%, 100%;
  margin: 0;
  padding: 1rem;
  font-family: "Helvetica", "Arial", sans-serif;
}

.site-title, .page-link {
  padding-bottom: 0.5rem;
  background-image: url("/assets/images/zelda/pad-text.png");
  background-repeat: no-repeat;
  background-size: auto 25%;
  background-position: bottom center;
  text-decoration: none;
}

a, a:visited {
  color: white;
}

.border-top {
  @include white-to-blue;
  @include border;
  top: 0;
  transform: rotate(180deg);
}

.border-bottom {
  @include white-to-blue;
  @include border;
  bottom: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.splitter {
  @include white-to-blue;
  width: 100%;
}

.list-item {
  display: flex;
  padding: 0.25rem;
}

.page-icon {
  max-width: 1rem;
  margin-right: 0.5rem;
}