@import "mixins";

body {
  background-color: black;
  background: url("/assets/images/zelda/pad-background.jpg") repeat;
  color: #76b6ff;
  min-height: 100vh;
  box-sizing: border-box;
  background-size: 100%, 100%;
  margin: 0;
  padding: 1rem;
  font-family: "Helvetica", "Arial", sans-serif;
}

.site-header {
  padding: 3%;
  font-size: 1rem;
}

.site-title, .page-link {
  padding-bottom: 0.5rem;
  background-image: url("/assets/images/zelda/pad-text.png");
  background-repeat: no-repeat;
  background-size: auto 25%;
  background-position: bottom center;
  text-decoration: none;
}

.menu-icon {
  filter: invert(100%);
}

@media (max-width: 600px) {
  input:checked ~ .nav-links {
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    backdrop-filter: blur(5px);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #141e5495;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
  }

  .page-link {
    padding: 0.5rem;
  }
}

a, a:visited {
  color: white;
}

.border-top {
  @include white-to-blue;
  @include border;
  top: 0;
  transform: rotate(180deg);
}

.border-bottom {
  @include white-to-blue;
  @include border;
  bottom: 0;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.splitter {
  @include white-to-blue;
  width: 100%;
}

.list-item {
  display: flex;
  padding: 0.25rem;
}

.page-icon {
  max-width: 1rem;
  margin-right: 0.5rem;
}