@import "mixins";

.back {
  @include text-background;
  padding: 1rem;
}

.slide-info {
  @include text-background;
  padding: 1rem;

  & > span {
    white-space: nowrap;
    flex-shrink: 0;
  }

  & > details[open] {
    & > summary {
      margin-bottom: 1rem;
    }

    & + .image-icon {
      align-self: flex-start;

      & + .compendium {
        align-self: flex-start;
      }
    }
  }
}

.image-icon {
  max-width: 1.5rem;
  margin-left: 0.75rem;
}

.compendium {
  font-family: "Hylia Serif", Georgia, serif;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.photo-border {
  background: #141e5495;
}

.photo-texture {
  @include white-to-blue;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  height: 100%;
  max-width: 100%;

  &:first-of-type {
    transform: rotate(180deg);
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }
}

.slide-navigation {
  @include text-background;
  font-family: "Hylia Serif", Georga, serif;
}
