{%- assign images = site.data.photography[page.slug] -%}

{%- if images -%}
  {%- for image in images -%}
    {%- capture title -%}
      {%- if image.title -%}
        {{ image.title }}
      {%- else -%}
        {{ page.title }}
      {%- endif -%}
    {%- endcapture -%}

    {%- if image.src -%}
      <img
        alt="{{ image.alt }}"
        class="photo"
        data-title="{{ title }}"
        data-date="{{ image.date }}"
        id="image-{{ forloop.index }}"
        src="{{ image.src }}"
      />
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
