{%- assign images = site.data.photography[page.slug] -%}

{%- if images -%}
  {%- for image in images -%}
    {%- capture title -%}
      {%- if image.title.size > 0 -%}
        {{ image.title }}
      {%- else -%}
        {{ page.title }}
      {%- endif -%}
    {%- endcapture -%}

    {%- if image.src -%}
      <img
        alt="{{ image.alt }}"
        class="photo"
        id="image-{{ forloop.index }}"
        src="{{ image.src }}"
      />
      <dialog class="info-dialog" id="info-dialog-{{ forloop.index }}">
        <h1 id="image-title">{{ title }}</h1>
        <div class="table" id="photo-table">
          {%- if image.date -%}
            <div class="row" id="photo-date">
              <div>date</div>
              <div>{{ image.date | date: "%B %e, %Y" }}</div>
            </div>
          {%- endif -%}
        </div>
        <button id="info-close-{{ forloop.index }}" type="button">close</button>
      </dialog>
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
