@import "mixins";
@import "../base/variables";

[data-layout=grid] {
  .back {
    @include text-background;
  }

  .grid-info {
    @include text-background;
  }

  .photo {
    margin: $border-width;
    padding: 0 $border-width;
    max-width: 100%;
    max-height: 90vh;
    z-index: $photo-z-index;
  }
}