@import "variables";
@import "../base/variables";
@import "mixins";

body {
  background-attachment: scroll;
  background-repeat: repeat;
  // TODO: use variables
  background-position: left calc(50% - 128px) top calc(80px + 7.5rem);
  font-family: "FOT Seurat Pro B", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $page_margin 0 0.5rem;
}

.svg-title {
  font-family: "Fink Heavy", "Georgia", sans-serif;
  font-size: 3rem;
  width: 350px;
  height: $svg_height;
  fill: rgba(231, 197, 73, 1);
}

.svg-background {
  fill: rgba(231, 197, 73, 1);
  stroke: rgba(145, 107, 51, 1);
  stroke-width: 15px;
  stroke-linejoin: round;
  paint-order: stroke;
}

.svg-background-shadow {
  fill: black;
  stroke: black;
  stroke-width: 15px;
  stroke-linejoin: round;
  paint-order: stroke;
}

.svg-emboss {
  fill: rgba(231, 197, 73, 0.5);
}

.site-nav {
  @include text-background;
  padding: 1rem 2rem;
  text-align: center;
  height: 4rem;
  width: 100%;
}

.page-link {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.page-icon {
  max-height: 2rem;
  margin-right: 0.25rem;
}

@media screen and (max-width: $menu_breakpoint) {
  .page {
    padding: 1rem 0;
  }

  .site-nav {
    width: auto;
  }

  input:checked ~ .nav-links {
    @include text-background;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;;
    left: 50%;
    padding: 1rem;
    top: 5rem;
    transform: translateX(-50%);
    width: fit-content;
    z-index: 10;
    border: none;
  }

  .page-link a {
    display: inline-block;
    white-space: nowrap;
  }

  .menu-icon {
    margin: 0;
  }
}

.page-content {
  background-color: #cfbe95;
  background-position: center top;
  background-repeat: repeat-x;
  border-radius: 20px;
  box-shadow: 0 1rem 0.5rem -0.5rem rgba(0, 0, 0, 0.5);
  margin: 0 auto 1rem;
  max-width: 50rem;
  padding: 8.5rem 3rem 1rem;
}

h2 {
  font-weight: 200;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
}

a {
  color: rgb(85, 69, 64);
}

a:visited {
  text-decoration-color: #cfbe95;
}