@import "mixins";

body {
  --border-width: 5%;
}

a {
  text-decoration: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.back {
  @include ui_element;
  display: flex;
  font-size: 1rem;
  left: 0.5rem;
  padding: 0.5rem 1rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0.5rem;
  z-index: 2;
}

.slideshow {
  position: relative;
  max-width: 100vw;
  height: 100vh;
}

.slideshow-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--border-width);
  box-sizing: border-box;
  counter-increment: slides;
  flex-direction: column;
}

.slide-info {
  @include ui_element;
  display: flex;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0.5rem;
  text-align: center;
  text-decoration: none;
  top: 0.5rem;
  z-index: 2;
}

.slide-info[open] {
  padding: 1rem 2rem;
}

.slide-info > summary {
  text-align: right;
}

.slide-snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  z-index: -1;
}

.photo {
  width: 100%;
  margin: 0 var(--border-width);
}

.photo-border {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0.25rem 0.1rem rgba(0, 0, 0, 0.3),
              0 0 1.5rem 0.1rem rgba(0, 0, 0, 0.3);
  max-height: calc(100vh - 10rem);
  place-self: center;
  padding: var(--border-width) 0;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1280px;
  height: auto;
  margin: 5% 0;
}

.photo-border.hide-border {
  padding: 0;
}

.hide-border > .photo {
  margin: 0;
}

.photo-inset-shadow-helper {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  padding: var(--border-width) 0;
}

.photo-inset-shadow-helper.hide-border {
  display: none;
}

.photo-inset-shadow {
  border-radius: 1%;
  box-shadow: inset 0 0 0.25rem 0.1rem rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  margin: 0 var(--border-width);
  max-width: 90%;
}

.slide-navigation {
  @include ui_element;
  bottom: 0.5rem;
  font-size: 1.5rem;
  left: 50%;
  padding: 0.5rem 1.5rem;
  position: absolute;
  text-decoration: none;
  transform: translateX(-50%);
  white-space: nowrap;
}