{%- assign images = site.data.zelda[page.game][page.slug] -%}

<ol class="slideshow-wrapper" id="scroll-container">
  {%- for image in images -%}
    {%- assign current_slide = forloop.index -%}

    <li class="slide" id="slide-{{ forloop.index }}">
      <div class="slide-snapper"></div>
      <div class="photo-border">
        <img src="/assets/images/zelda/ripples.png" alt="" class="photo-texture" />
        <img
          src="{{ image.src }}"
          alt="{{ image.alt }}"
          title="{{ image.alt }}"
          class="photo"
          id="image-{{ forloop.index }}"
          data-title="{{ image.title }}"
          data-caption="{{ image.caption }}"
          data-compendium="{{ image.extras.compendium }}"
          data-icon="{{ image.extras.icon }}"
        />
        <div class="photo-inset-shadow-helper">
          <div class="photo-inset-shadow"></div>
        </div>
        <img src="/assets/images/zelda/ripples.png" alt="" class="photo-texture" />
      </div>
    </li>
  {%- endfor -%}
</ol>
