{%- assign images = site.data.zelda[page.game][page.slug] -%}

<ol class="slideshow-wrapper" id="scroll-container">
  {%- for image in images -%}
    {%- capture hide_border -%}
      {%- if image.extras.has_border -%}
        hide-border
      {%- endif -%}
    {%- endcapture -%}

    {%- capture show_date -%}
      {%- if image.extras.show_date -%}
        show-date
      {%- endif -%}
    {%- endcapture -%}

    {%- assign current_slide = forloop.index -%}

    <li class="slide" id="slide-{{ forloop.index }}">
      <div class="slide-snapper"></div>
      <div class="photo-border {{ hide_border }}">
        <img src="{{ image.src }}" alt="{{ image.alt }}" class="photo" id="image-{{ forloop.index }}" data-title="{{ image.title }}" data-caption="{{ image.caption }}" data-date="{{ image.date }}" />
        <div class="photo-inset-shadow-helper {{ hide_border }}">
          <div class="photo-inset-shadow"></div>
        </div>
      </div>
    </li>
  {%- endfor -%}
</ol>
