header {
  display: flex;
  justify-content: space-between;
}

.menu-icon {
  display: none;
}

.nav-trigger {
  display: none;
}

.nav-links {
  display: flex;
}

.page-link {
  margin-right: 1rem;
}

@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  input ~ .nav-links {
    clear: both;
    display: none;
  }

  input:checked ~ .nav-links {
    display: block;
    position: absolute;
    right: 1rem;
    top: 30px;
    padding-bottom: 5px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
  }

  .page-link {
    display: block;
    margin: 0;
  }
}