{%- if page.category -%}
  {%- assign images = site.data.animal_crossing[page.game][page.category][page.slug] -%}
{%- else -%}
  {%- assign images = site.data.animal_crossing[page.game][page.slug] -%}
{%- endif -%}
<!--
  TODO: for making this work with more than one nested folder...
  {%- assign path = page.id | split: "/" -%} 
  or maybe just attempt to make a plugin again...
-->

<ol class="slideshow-wrapper" id="scroll-container">
  {%- for image in images -%}
    {%- capture hide_border -%}
      {%- if image.extras.has_border -%}
        hide-border
      {%- endif -%} 
    {%- endcapture -%}

    {%- capture show_date -%}
      {%- if image.extras.show_date -%}
        show-date
      {%- endif -%}
    {%- endcapture -%}

    {%- assign current_slide = forloop.index -%}

    <li class="slide" id="slide-{{ forloop.index }}">
      <div class="slide-snapper"></div>
      <div class="photo-border {{ hide_border }}">
        <img src="{{ image.src }}" alt="{{ image.alt }}" class="photo" id="image-{{ forloop.index }}" data-title="{{ image.title }}" data-date="{{ image.date }}" />
        <div class="photo-inset-shadow-helper {{ hide_border }}">
          <div class="photo-inset-shadow"></div>
        </div>
        <div class="photo-date {{ show_date }}">{{ image.date | date: "%m/%d/%Y" }}</div>
      </div>
    </li>
  {%- endfor -%}
</ol>
