[data-layout=grid] {
  font-family: Verdana, sans-serif;

  .back {
    background-color: white;
    border: 1px solid black;
    padding: unset;

    a {
      display: block;
      color: black;
      padding: 0.5rem 1rem;

      &:hover {
        text-decoration: none;
        background-color: yellow;
      }
    }
  }

  .grid-info {
    background-color: white;
    border: 1px solid black;
    font-family: Verdana, sans-serif;
  }

  dialog {
    align-items: center;
    box-shadow: 0 0 1.5rem 0.5rem rgba(0, 0, 0, 0.5);
    flex-direction: column;
    margin: auto;
    padding: 1rem;

    &[open] {
      display: flex;
    }

    &::backdrop {
      backdrop-filter: blur(3px);
    }

    h1 {
      margin: 0 auto 1rem;
    }

    & .table {
      display: flex;
      flex-direction: column;
      width: 100%;

      & .row {
        display: flex;
        justify-content: space-between;

        & > div {
          display: flex;
          align-items: center;
  
          &:nth-of-type(2n - 1) {
            font-weight: bold;
            margin-right: 2rem;
          }
          &:nth-of-type(2n) {
            text-align: right;
          }
        }
      }
    }

    & button {
      background-color: white;
      border: 1px solid black;
      padding: 0.5rem;
      margin-top: 1rem;
      flex-grow: 0;
      text-decoration: underline;
      width: auto;

      &:hover {
        cursor: pointer;
        background-color: yellow;
        text-decoration: none;
      }
    }
  }  

  .photo {
    margin: auto;
    max-width: 100%;
    max-height: 90vh;
  }
}

