---
script: slideshow
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>
    <nav class="back">
      <a href="/{{ page.collection }}.html">back</a>
    </nav>
    {%- if page.info -%}
      <details class="slide-info">
        <summary id="page-title">{{ page.title }}</summary>
        {{ page.info }}
      </details>
    {%- else -%}
      <div class="slide-info" id="page-title">
        {{ page.title }}
      </div>
    {%- endif -%}
    <main class="slideshow">
      {%- if page.path contains "animal_crossing" -%}
        {%- include animal_crossing/slideshow.html -%}
      {%- else -%}
        {%- include photography/slideshow.html -%}
      {%- endif -%}
    </main>
    <div class="slide-navigation">
      <a href="#slide-1" class="previous-slide" id="previous-slide">
        &larr;
      </a>
      &nbsp;
      <span id="current-slide">1</span> / <span id="total-slides">{{ site.data.animal_crossing[page.game][page.slug].size }}</span>
      &nbsp;
      <a href="#slide-2" class="next-slide" id="next-slide">
        &rarr;
      </a>
    </div>
  </body>

</html>

