---
script: slideshow
---
{%- capture section -%}
  {%- if page.path contains "animal_crossing" -%}
    animal_crossing
  {%- elsif page.path contains "zelda" -%}
    zelda
  {%- endif -%}
{%- endcapture -%}


<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>
    <nav class="back">
      <a href="/{{ page.collection }}.html">back</a>
    </nav>
    <div class="slide-info" id="slide-info">
      {{ page.title }}
    </div>

    <main class="slideshow">
      {%- if page.path contains "animal_crossing" -%}
        {%- include animal_crossing/slideshow.html -%}
      {%- elsif page.path contains "zelda" -%}
        {%- include zelda/slideshow.html -%}
      {%- else -%}
        {%- include photography/slideshow.html -%}
      {%- endif -%}
    </main>

    <div class="slide-navigation">
      <a href="#slide-1" class="previous-slide" id="previous-slide">
        &larr;
      </a>
      &nbsp;
      <span id="current-slide">1</span> / <span id="total-slides">{{ site.data[section][page.game][page.slug].size }}</span>
      &nbsp;
      <a href="#slide-2" class="next-slide" id="next-slide">
        &rarr;
      </a>
    </div>
  </body>

</html>

