---
theme: zelda
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <img src="/assets/images/zelda/pad-frame-glow.png" class="border-top glow" />
    <img src="/assets/images/zelda/pad-frame.png" class="border-top" />

    <div class="page">
      {%- include header.html -%}
  
      <main class="page-content" aria-label="Content">
        {{ content }}
      </main>
    </div>

    <img src="/assets/images/zelda/pad-frame-glow.png" class="border-bottom glow" />
    <img src="/assets/images/zelda/pad-frame.png" class="border-bottom" />

  </body>

</html>
