@import "variables";

.menu-icon {
  display: none;
}

.nav-trigger {
  display: none;
}

.nav-links {
  display: flex;
}

// TODO: make a mixin/function with dynamic breakpoing
@media screen and (max-width: $menu_breakpoint) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  input ~ .nav-links {
    clear: both;
    display: none;
  }

  input:checked ~ .nav-links {
    display: block;
    position: absolute;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
  }

  .page-link {
    display: block;
  }
}

.back {
  left: 0.5rem;
  padding: 0.5rem 1rem;
  position: absolute;
  text-align: center;
  top: 0.5rem;
}