
.menu-icon {
  display: none;
}

.nav-trigger {
  display: none;
}

.nav-links {
  background-color: white;
  display: flex;
}

@media (max-width: 750px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: 0.5rem;
  }

  input ~ .nav-links {
    clear: both;
    display: none;
  }

  input:checked ~ .nav-links {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 60px;
    padding-bottom: 5px;
  }

  .nav-links {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
  }

  .page-link {
    display: block;
    margin: 0;
  }
}